<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, Initial-scale=1">
        <title>Therapy Manager</title>
        <link rel="stylesheet" type="text/css" href="/static/login.css" media="screen">
    </head>

    <body>
        <div class="container">
            <h1 class="icon-tasker">Therapy Manager</h1>
            {%if alert != ""%}
            <p class="alert">{{alert}}</p>
            {%endif%}


        <!-- Debugging: Check if verification_step and email_step are correct -->
        <p>verification_step: {{ verification_step }}</p>
        <p>email_step: {{ email_step }}</p>

            {% if verification_step  == 0 and email_step == 0%}
            <p>Please login to continue</p>
            <form action="/login" method="POST">
                  <div>
                    <input type="text" name="userid" placeholder="userid"/>
                    <input type="password" name="password" placeholder="password"/>
                    <input type="submit" name="submit" value="Login" class="icon-login"/></div>
                    <div><hr></div>
                    <div>
                    <div class="small">No Account? <a href="/register">Register!</a></div>
                    <br>
<!--                     <div><hr></div>
                    <div class="small">Client Portal Login <a href="/clients/client_login">Log in!</a></div>  -->
                </div>
            </form>
            {% endif %}  
            
            {% if email_step == 1 %}
            <!-- 2FA Step: Enter MAil Number -->
            <p>Please enter your email number for Verification:</p>
            <form action="/enter_email" method="POST">
                <div>
                    <input type="email" name="email" placeholder="Email Address" required/>
                    <input type="submit" name="submit" value="Submit Email" class="icon-login"/>
                </div>
            </form>
            {% endif %}  

            {% if email_step == 0 and  verification_step == 1 %}
            <!-- 2FA Step: Verification Code -->
            <p>A verification code has been sent to your Email. Please enter it below:</p>
            <form action="/verify" method="POST">
                <div>
                    <input type="text" name="verification_code" placeholder="Enter the verification code" required/>
                    <input type="hidden" name="email" value="{{ email }}"/>
                    <input type="submit" name="submit" value="Verify" class="icon-login"/>
                </div>
            </form>
        {% endif %}        
        </div>
    </body>
</html>