<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, Initial-scale=1">
        <title>Therapy Manager</title>
        <link rel="stylesheet" type="text/css" href="/static/login.css" media="screen">
    </head>

    <body>
        <div class="container">
            <h1 class="icon-tasker">Therapy Manager</h1>
            {%if alert != ""%}
            <p class="alert">{{alert}}</p>
            {%endif%}
             {{session['verification_step']|pprint }}
            <p>verification_step: {{ session['verification_step'] }}</p>
            <p>phone_step: {{ phone_step }}</p>

            {% if session['verification_step'] == False %}
            <p>Please login to continue</p>
            <form action="/login" method="POST">
                  <div>
                    <input type="text" name="userid" placeholder="userid"/>
                    <input type="password" name="password" placeholder="password"/>
                    <input type="submit" name="submit" value="Login" class="icon-login"/></div>
                    <div><hr></div>
                    <div>
                    <div class="small">No Account? <a href="/register">Register!</a></div>
                    <br>
                    <div><hr></div>
                    <div class="small">Client Portal Login <a href="/clients/client_login">Log in!</a></div> 
                </div>
            </form>
            {{ session['phone_step']|pprint }}
            
            {% elif session['phone_step'] == True %}
            {{ session['phone_step']|pprint}}
            <!-- 2FA Step: Enter Phone Number -->
            <p>Please enter your phone number for Verification:</p>
            <form action="/enter_phone" method="POST">
                <div>
                    <input type="text" name="phone_number" placeholder="Phone Number" required/>
                    <input type="submit" name="submit" value="Submit Phone Number" class="icon-login"/>
                </div>
            </form>
            {% else %}
            <!-- 2FA Step: Verification Code -->
                         <!-- 2FA Step: Verification Code -->
            <p>A verification code has been sent to your phone. Please enter it below:</p>
            <form action="/verify" method="POST">
                <div>
                    <input type="text" name="verification_code" placeholder="Enter the verification code" required/>
                    <input type="hidden" name="phone_number" value="{{ phone_number }}"/>
                    <input type="submit" name="submit" value="Verify" class="icon-login"/>
                </div>
            </form>
        {% endif %}        
        </div>
    </body>
</html>