<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, Initial-scale=1">
    </head>

    <body>
        <div class="pageheader">
            <div class="titlebar">Files for patient :{{ patientdata[0]['pat_first_name'] }} {{ patientdata[0]['pat_last_name'] }}</div>
        </div>

        <form method="POST" action="/upload" enctype="multipart/form-data">
            <dl>
                <p>
                    <input type="file" name="file" autocomplete="off" required>
                </p>
            </dl>
            <p>
                <input type="submit" name="submit-save" class="blue" value="Upload File">
                <!-- <input type="submit" value="Submit"> -->
            </p>
            <input type="hidden" name="id" value="{{ patientdata[0]['pat_id'] }}">
        </form>
</body>
<script>
    window.onunload = refreshParent;
    function refreshParent() {
        window.opener.location.reload();
        window.close();
    }
</script>

</html>
